fastapi>=0.115.12           # FastAPI file‐upload support
huggingface-hub>=0.30.2     # Hugging Face Hub
librosa>=0.11.0             # Audio processing       
pandas>=2.2.3               # meta data
python-dotenv>=1.1.0        # Environment variables
transformers>=4.51.3        # AST model & Feature Extraction
uvicorn[standard]>=0.34.2   # ASGI server
soundfile>=0.12.1           # backend for librosa
python-multipart>=0.0.6     # File upload